.card{
  margin-top:20px;
  position: "relative";
}

.positive {
  font-weight:600;
  color:#00C853
}

.negative {
  font-weight:600;
  color:#FFC400
}

.itemInfo{
  display:flex;
  margin-left:10px;
  width:150px;
  flex-flow:column
}

.itemInfoLabel{
  font-weight: 600;
}

@media (min-width: 1312px) {
    .small{
      display: none;
    }
  }

@media(max-width:1311px){
    .big{
        display: none;
    }
}