.card{
  margin-top:20px;
}

.positive {
  font-weight:600;
  color:#00C853
}

.negative {
  font-weight:600;
  color:#FFC400
}

@media (min-width: 1068px) {
    .small{
      display: none;
    }
  }

@media(max-width:1068px){
    .big{
        display: none;
    }
}